<h1>Wicked PDF Issues</h1>

This site is an attempt to work out and document issues that come up in
<%= link_to 'The Wicked PDF issue tracker on GitHub', 'https://github.com/mileszs/wicked_pdf/issues/' %>

<h2>Issues Examined</h2>

<ul>
  <li><%= link_to 'How to have dynamic header using wicked_pdf to add page numbering', '/pages/issue_38311828' %></li>
  <li><%= link_to 'Space omitted in PDF (#540)', '/pages/issue_540' %></li>
  <li><%= link_to 'background images not work in .css file for wicked_pdf (#124)', '/pages/issue_124' %></li>
  <li><%= link_to 'Broken orientation/width of multipage document (#330)', '/pages/issue_330' %></li>
  <li><%= link_to 'Wicked PDF doesnt render text (#250)', '/pages/issue_250' %></li>
  <li><%= link_to 'Footer + toc + cover issue (#435)', '/pages/issue_435' %></li>
  <li><%= link_to 'Problem with hidden section of map when near page boundaries (#428)','/pages/issue_428' %></li>
  <li><%= link_to 'Font Awesome Issues (#474)', '/pages/issue_474' %></li>
</ul>
